@media (max-width: 360px) {

}
@media (min-width: 361px) and (max-width: 480px) {

}
@media (min-width: 481px) and (max-width: 768px) {

}
@media (min-width: 769px) and (max-width: 1024px) {

}
@media (min-width: 1025px) and (max-width: 1280px) {

}
@media (min-width: 1281px) {

}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div.sec1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div.img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}